<div class="wrapper">
  <h2 class="contentHeader">We at a glance</h2>
  <div class="rowContainer row">
    <div class="info col col-sm-6 col-xs-12 col-md-3">
      <span class="data" [@scrollAnimation]="state">3500</span>
      <div class="dataText" [@scrollAnimation]="state">Students</div>
    </div>
    <div class="info col col-sm-6 col-xs-12 col-md-3">
        <span class="data" [@scrollAnimation]="state">300</span>
        <div class="dataText"  [@scrollAnimation]="state">Batches</div>
      </div>
      <div class="info col col-sm-6 col-xs-12 col-md-3">
          <span class="data" [@scrollAnimation]="state">30+</span>
          <div class="dataText"  [@scrollAnimation]="state">Corporate Training</div>
        </div>
        <div class="info col col-sm-6 col-xs-12 col-md-3">
            <span class="data" [@scrollAnimation]="state">10+</span>
            <div class="dataText"  [@scrollAnimation]="state">Projects</div>
          </div>
    <!-- <div class="card">
      Students
      <img src="assets/images/icon_students.png">
      3500
    </div>
    <div class="card">
      Batches
      <img src="assets/images/icon_batches.png">      
      300
    </div>
  </div>
  <div class="rowContainer">
    <img src="assets/images/icon_center.png"/>
  </div>
  <div class="rowContainer">
    <div class="card">
      Corporate Training
      <img src="assets/images/icon_training.png">            
      30+
    </div>
    <div class="card">
      Projects
      <img src="assets/images/icon_projects.png">            
      10+
    </div> -->
  </div>
</div>