@import '~scss/variables.scss';
ngu-item{
    position: relative;
    vertical-align: middle;
}

ngu-item img{
    filter: brightness(50%);
    width: 100%;
//  height: 500px;
//   max-height: 500px;
}
.contentHeader{
  font:400 20px/32px Roboto,"Helvetica Neue",sans-serif;
}
.content{
    margin-top:50px;
    font: 500 20px/32px Roboto,"Helvetica Neue";
    position: absolute;
    width: 50%;
    left: 25%;
    top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: $color-light;
}
#data-2{
    padding-right: 300px;
    padding-top:60px;
}
.content .contentHeader{
    font-size: 2.5em;
}
.content .contentDetail{
    width: 100%;
    padding: 20px;
    font-size: 1.3em;
}
.content .quotes{
    font-size: 1.4em;
    width: 100%;
}

.content button{
    margin-top: 40px;
    min-width: 50%;
    min-height: 35px;
}
.content button .glyphicon{
    top: 5px;
    margin-left: 3px;
}
.leftRs .glyphicon, .rightRs .glyphicon{
    font-size: 2em;
    color: $color-light;
}
.leftRs {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: 0px;
    left: 10%;
}
.rightRs {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: 0px;
    right: 10%;
}

@media only screen and (max-width: 768px) {
    // .content .contentHeader{
    //     font-size: 1em;
    // }
    .content .contentDetail{
        width: 100%;
        font-size: 0.8em;
    }
    // .content button{
    //     margin-top: 0px;
    //     padding: 0px;
    //     width: 40%;
    //     font-size: 1em;
    // }
    .content{
        width: 100%;
        left: 0%;
        right: 0%;
    }
}

@media only screen and (max-width: 360px) {
    // .content .contentHeader{
    //     font-size: 2vw;
    // }
    // .content .contentDetail{
    //     width: 100%;
    //     font-size: 2vw;
    // }
}
@media (max-width:1500px) and (min-width:1200px){
      .carouselInput {
      font-size: 3vw !important;
      }
}

@media (max-width:1200px){
    ngu-item img{
        filter: brightness(50%);
        width: auto;
     height: 600px;
      max-height: 600px;
    }
    ngu-item >div {
      font-size: 2vw !important;
      width:100%;
      left:0%;
    }
    .leftRs{
        margin-left:-10%;
    }
    .rightRs{
        margin-right: -10%;
    }
        .contentDetail{
        max-width:70%;
        padding: 0px;
        margin-top:-30%;
        // max-height:10%;
    }
    .content,.content .quotes, .contentDetail, .contentHeader{
padding:0px!important; 
    }
  }
  @media (max-width:600px){
    .content,.content .quotes, .contentDetail, .contentHeader{
        font-size: 4em !important;
        width: 100%;
        font-weight: 500;
padding:0px!important; 
    }
    .content .quotes{
        font-size: 1.0em !important;
        width: 100%;
        font-weight: 500;
padding:0px!important; 
    }
    ngu-item >div {
    //     font-size: 12px;;
    //     width:100%;
    //     left:0%;
    //   }
    }
  }
//   }
//   @media (max-width:600px){
//     .content{
//         margin-top:2px;
//     }
//     .content button{
//         margin-top: 10px;
//         min-width: 50%;
//         height: 10%;
//         font-size: 2vw;
//     }
//     .contentDetail{
//         max-width:70%;
//         padding-top: 0px;
//         margin-top:-30%;
//         max-height:10%;
//     }
//     .contentHeader{
//         padding-top: 0px;
//     }
//     #data*{
//        max-width:130px;
//        text-align:center;
//     }
//     #data-0>*{
//     margin-top:-20%;
//     font-size:2vw;
//     padding-top:2%;
//     }
//     #data-2{
//         padding-right: 25%;
//         padding-top:10px;
//     }
//     #data-1{
//         font-size:2vw !important;
//     }
//     .leftRs{
//         margin-left:-10%;
//     }
//     .rightRs{
//         margin-right: -10%;
//     }
//   }